.board {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: auto;
  padding-bottom: 10px;
}

/* Магия адаптива */
@media (max-width: 480px) {
  .board {
    flex-direction: column; /* Колонки в столбик */
    align-items: center;
    width: 100%;
  }

  .list {
    width: 90%; /* Почти на всю ширину экрана */
  }
}
