.footer {
  background-color: #0067a3;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 14px;
}

.footer-counter {
  margin-right: 20px;
}

@media (max-width: 415px) {
  .footer {
    flex-direction: column;
    height: auto;
    padding: 15px;
    gap: 10px;
    text-align: center;
  }

  .footer-stats {
    flex-direction: column;
    gap: 5px;
  }
}
